<ion-content>
  <ion-split-pane contentId="private-content">
    <ion-menu contentId="private-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-img class="logo" [src]="logo"></ion-img>
            <ion-label>CinemApp</ion-label>
            <ion-buttons>
              <ion-button (click)="viewLogo()">
                <ion-icon slot="icon-only" color="dark" name="pencil"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-list-header>
          <ion-menu-toggle *ngFor="let page of appPages">
            <ion-item routerDirection="root" [routerLink]="[page.url]" routerLinkActive="selected">
              <ion-icon slot="start" [md]="page.icon"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon slot="start" md="log-out-sharp"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="private-content"></ion-router-outlet>
  </ion-split-pane>
</ion-content>